[package]
name = "rust-frontendmasters-rust-for-typescript-devs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
